*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 80%;
    margin: 50px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(207, 215, 219);
}
#DatosPersonales{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 900px;
    background-color: rgb(148, 125, 109);
}
.Contenedor{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,350px);
    grid-auto-rows: 40px;
    
}
.DatosPrincipal, .DatosSecundarios{
    font-family: 'Times New Roman';
    font-weight: 500;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.DatosPrincipal{
    margin-top: 15px;
    height: 15px;
    padding: 6px;
}
.DatosSecundarios{
    margin-top: 15px;
    height: 15px;
    padding: 6px;
}
#EstudiosRealizados{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 900px;
    background-color: rgb(148, 125, 109);
}
.Estudio{
    margin-top: 15px;
    height: 15px;
    padding: 6px;
    font-family: 'Times New Roman';
    font-weight: 500;
}
#ExperienciaLaboral{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 900px;
    background-color: rgb(148, 125, 109);
}
#Capacitaciones{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 900px;
    background-color: rgb(148, 125, 109);
}
#ReferenciaPersonales{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 900px;
    background-color: rgb(148, 125, 109);
}
