*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

.menu-nava{
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 40px;
    color: rgb(119, 58, 58)
}

.menu-nav{
    text-align: right;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
}

.header{
    width: 100%;
    background-image: 
    linear-gradient(to right, #09496e7a 0%, #07262c7e 100%) , url("linea.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

}
.contenedor-textos{
    padding-bottom: 100;
}

.hero h1{
    font-size: 60px;
}

.copy{
    font-size: 24px;
    padding: 20px 0;
    font-weight: 300;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.seccion1{
    padding-top: 30px;
}

.titulo-seccion{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(40, 101, 109);
    padding-bottom: 40px;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.relatos{
    width: 40%;
}

.relato{
    margin-bottom: 30px;
}

.n-relato{
    font-size: 25px;
    color: rgb(40, 101, 109);
    margin-bottom: 5px;
}

.ilustracion{
    width: 50%;
}

.portafolio{
    background: #f2f2f2;
}

.portafolio-contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*donde puedo cambiar la imagen de CONTACTO*/
.imagen-contenedor{
    width: 31%;
    height: 130px;
    margin-bottom: 20px;
}

.imagen-contenedor img{
    content: center;
    display: block;
    width: 100%;
    height: 80%;
    object-fit:contain;
    border-radius: 10px;
}

.table-pricing{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.pricing{
    width: 30%;
    text-align: center;
    background: #9758447a;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;

}

.active{
    background: #a7c2e9;
    transform: scale(1.1);
}

footer{
    background: #a7c2e9;
    position: relative;
}

footer .wave{
    top: 0;
    left: 0;
}

